landing.html
<!DOCTYPE html>
<html></html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/ejercicio-pug.css">
</head>
<body>
  <header>
    <h1>PlatziGames</h1><a class="boton">Registro</a>
  </header>
  <section class="intro">
    <div class="intro__imagen"><img src="images/imagen.png"></div>
    <div class="intro__contenido">
      <h2>Titulo principal</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae. Quam molestiae quod quaerat, commodi consequuntur necessitatibus amet omnis optio voluptatem?<span>Lorem ipsum dolor sit amet.</span></p><a class="boton">Leer más</a>
    </div>
  </section>
  <main class="contenido">
    <div class="caja">
      <div class="caja__imagen"><img src="images/imagen.png"/></div>
      <div class="caja__contenido">
        <h3>Subtitulo 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.</p>
      </div>
    </div>
    <div class="caja">
      <div class="caja__imagen"><img src="images/imagen.png"/></div>
      <div class="caja__contenido">
        <h3>Subtitulo 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.</p>
      </div>
    </div>
    <div class="caja">
      <div class="caja__imagen"><img src="images/imagen.png"/></div>
      <div class="caja__contenido">
        <h3>Subtitulo 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.</p>
      </div>
    </div>
  </main>
  <footer>
    <h1>PlatziGames</h1>
    <ul>
      <li>Acerca</li>
      <li>Noticias</li>
      <li>Contacto</li>
    </ul>
  </footer>
</body>

landing.pug
extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae. Quam molestiae quod quaerat, commodi consequuntur necessitatibus amet omnis optio voluptatem?
					span Lorem ipsum dolor sit amet.
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
			+caja('imagen.png',titulos[2], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
			+caja('imagen.png',titulos[3], 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat culpa molestiae impedit dolores eum consequatur quos, possimus beatae.')
		
